In [ ]:
!mamba install bs4==4.10.0 -y
!pip install lxml==4.6.4
!mamba install html5lib==1.1 -y

/bin/bash: line 1: mamba: command not found
Collecting lxml==4.6.4
  Downloading lxml-4.6.4.tar.gz (3.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.2/3.2 MB 19.3 MB/s eta 0:00:00
  error: subprocess-exited-with-error

  × python setup.py egg_info did not run successfully.
  │ exit code: 1
  ╰─> See above for output.

  note: This error originates from a subprocess, and is likely not a problem with pip.
  Preparing metadata (setup.py) ... error
error: metadata-generation-failed

× Encountered error while generating package metadata.
╰─> See above for output.

note: This is an issue with the package mentioned above, not pip.
hint: See above for details.
/bin/bash: line 1: mamba: command not found

In [ ]:
from bs4 import BeautifulSoup
import requests

In [ ]:
%%html
<!DOCTYPE html>
<html>
<head>
<title> Salaries <title>
</head>
<body>
<h3><b id='boldest'>Lebron James</b></h3>
<p> Salary: $ 92,000,000 </p>
<h3> Stephen Curry</h3>
<p> Salary: $85,000, 000 </p>
<h3> Kevin Durant </h3>
<p> Salary: $73,200, 000</p>
</body>
</html>

In [ ]:
html="<!DOCTYPE html><html><head><title>Salaries</title></head><body><h3><b id='boldest'>Lebron James</b></h3><p> Salary: $ 92,000,000 </p><h3> Stephen Curry</h3><p> Salary: $85,000, 000 </p><h3> Kevin Durant </h3><p> Salary: $73,200, 000</p></body></html>"

In [ ]:
soup = BeautifulSoup(html, 'html.parser')

print(soup.prettify())

<!DOCTYPE html>
<html>
 <head>
  <title>
   Salaries
  </title>
 </head>
 <body>
  <h3>
   <b id="boldest">
    Lebron James
   </b>
  </h3>
  <p>
   Salary: $ 92,000,000
  </p>
  <h3>
   Stephen Curry
  </h3>
  <p>
   Salary: $85,000, 000
  </p>
  <h3>
   Kevin Durant
  </h3>
  <p>
   Salary: $73,200, 000
  </p>
 </body>
</html>

In [ ]:
tag_object=soup.title
print("tag object:",tag_object)

tag object: <title>Salaries</title>

In [ ]:
print("tag object type:",type(tag_object))

tag object type: <class 'bs4.element.Tag'>

In [ ]:
tag_object=soup.h3
tag_object

In [ ]:
tag_child =tag_object.b
tag_child

In [ ]:
parent_tag=tag_child.parent
parent_tag

In [ ]:
tag_object

In [ ]:
tag_object.parent

In [ ]:
sibling_1=tag_object.next_sibling
sibling_1

In [ ]:
sibling_2=sibling_1.next_sibling
sibling_2

In [ ]:
sibling_2.next_sibling

In [ ]:
tag_child['id']

'boldest'

In [ ]:
tag_child.attrs

{'id': 'boldest'}

In [ ]:
tag_child.get('id')

'boldest'

In [ ]:
tag_string=tag_child.string
tag_string

'Lebron James'

In [ ]:
type(tag_string)
unicode_string = str(tag_string)
unicode_string

'Lebron James'

In [ ]:
%%html
<table>
  <tr>
    <td id='flight' >Flight No</td>
    <td>Launch site</td>
    <td>Payload mass</td>
   </tr>
  <tr>
    <td>1</td>
    <td><a href='https://en.wikipedia.org/wiki/Florida'>Florida</a></td>
    <td>300 kg</td>
  </tr>
  <tr>
    <td>2</td>
    <td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td>
    <td>94 kg</td>
  </tr>
  <tr>
    <td>3</td>
    <td><a href='https://en.wikipedia.org/wiki/Florida'>Florida</a> </td>
    <td>80 kg</td>
  </tr>
</table>

In [ ]:
table="<table><tr><td id='flight' >Flight No</td><td>Launch site</td><td>Payload mass</td></tr><tr><td>1</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida</a></td><td>300 kg</td></tr><tr><td>2</td><td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida</a> </td><td>80 kg</td></tr></table>"

In [ ]:
table_bs = BeautifulSoup(table, "html.parser")

In [ ]:
table_rows=table_bs.find_all('tr')
table_rows

[<tr><td id="flight">Flight No</td><td>Launch site</td><td>Payload mass</td></tr>,
 <tr><td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a></td><td>300 kg</td></tr>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a> </td><td>80 kg</td></tr>]

In [ ]:
first_row =table_rows[0]
first_row

In [ ]:
print(type(first_row))

<class 'bs4.element.Tag'>

In [ ]:
first_row.td

In [ ]:
for i,row in enumerate(table_rows):
    print("row",i,"is",row)

row 0 is <tr><td id="flight">Flight No</td><td>Launch site</td><td>Payload mass</td></tr>
row 1 is <tr><td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a></td><td>300 kg</td></tr>
row 2 is <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>
row 3 is <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a> </td><td>80 kg</td></tr>

In [ ]:
for i,row in enumerate(table_rows):
    print("row",i)
    cells=row.find_all('td')
    for j,cell in enumerate(cells):
        print('colunm',j,"cell",cell)

row 0
colunm 0 cell <td id="flight">Flight No</td>
colunm 1 cell <td>Launch site</td>
colunm 2 cell <td>Payload mass</td>
row 1
colunm 0 cell <td>1</td>
colunm 1 cell <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a></td>
colunm 2 cell <td>300 kg</td>
row 2
colunm 0 cell <td>2</td>
colunm 1 cell <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>
colunm 2 cell <td>94 kg</td>
row 3
colunm 0 cell <td>3</td>
colunm 1 cell <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a> </td>
colunm 2 cell <td>80 kg</td>

In [ ]:
list_input=table_bs .find_all(name=["tr", "td"])
list_input

[<tr><td id="flight">Flight No</td><td>Launch site</td><td>Payload mass</td></tr>,
 <td id="flight">Flight No</td>,
 <td>Launch site</td>,
 <td>Payload mass</td>,
 <tr><td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a></td><td>300 kg</td></tr>,
 <td>1</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a></td>,
 <td>300 kg</td>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <td>2</td>,
 <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>,
 <td>94 kg</td>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a> </td><td>80 kg</td></tr>,
 <td>3</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a> </td>,
 <td>80 kg</td>]

In [ ]:
table_bs.find_all(id="flight")

In [ ]:
list_input=table_bs.find_all(href="https://en.wikipedia.org/wiki/Florida")
list_input

[<a href="https://en.wikipedia.org/wiki/Florida">Florida</a>,
 <a href="https://en.wikipedia.org/wiki/Florida">Florida</a>]

In [ ]:
table_bs.find_all(href=True)

[<a href="https://en.wikipedia.org/wiki/Florida">Florida</a>,
 <a href="https://en.wikipedia.org/wiki/Texas">Texas</a>,
 <a href="https://en.wikipedia.org/wiki/Florida">Florida</a>]

In [ ]:
table_bs.find_all('a', href=False)

[]

In [ ]:
soup.find_all(id="boldest")

In [ ]:
table_bs.find_all(string="Florida")

['Florida', 'Florida']

In [ ]:
%%html
<h3>Rocket Launch </h3>

<p>
<table class='rocket'>
  <tr>
    <td>Flight No</td>
    <td>Launch site</td>
    <td>Payload mass</td>
  </tr>
  <tr>
    <td>1</td>
    <td>Florida</td>
    <td>300 kg</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Texas</td>
    <td>94 kg</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Florida </td>
    <td>80 kg</td>
  </tr>
</table>
</p>
<p>

<h3>Pizza Party  </h3>


<table class='pizza'>
  <tr>
    <td>Pizza Place</td>
    <td>Orders</td>
    <td>Slices </td>
   </tr>
  <tr>
    <td>Domino's Pizza</td>
    <td>10</td>
    <td>100</td>
  </tr>
  <tr>
    <td>Little Caesars</td>
    <td>12</td>
    <td >144 </td>
  </tr>
  <tr>
    <td>Papa John's </td>
    <td>15 </td>
    <td>165</td>
  </tr>

In [ ]:
two_tables="<h3>Rocket Launch </h3><p><table class='rocket'><tr><td>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr><td>1</td><td>Florida</td><td>300 kg</td></tr><tr><td>2</td><td>Texas</td><td>94 kg</td></tr><tr><td>3</td><td>Florida </td><td>80 kg</td></tr></table></p><p><h3>Pizza Party  </h3><table class='pizza'><tr><td>Pizza Place</td><td>Orders</td> <td>Slices </td></tr><tr><td>Domino's Pizza</td><td>10</td><td>100</td></tr><tr><td>Little Caesars</td><td>12</td><td >144 </td></tr><tr><td>Papa John's </td><td>15 </td><td>165</td></tr>"

In [ ]:
two_tables_bs= BeautifulSoup(two_tables, 'html.parser')

In [ ]:
two_tables_bs.find("table")

<table class="rocket"><tr><td>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr><td>1</td><td>Florida</td><td>300 kg</td></tr><tr><td>2</td><td>Texas</td><td>94 kg</td></tr><tr><td>3</td><td>Florida </td><td>80 kg</td></tr></table>

In [ ]:
two_tables_bs.find("table",class_='pizza')

<table class="pizza"><tr><td>Pizza Place</td><td>Orders</td> <td>Slices </td></tr><tr><td>Domino's Pizza</td><td>10</td><td>100</td></tr><tr><td>Little Caesars</td><td>12</td><td>144 </td></tr><tr><td>Papa John's </td><td>15 </td><td>165</td></tr></table>

In [ ]:
url = "https://web.archive.org/web/20230224123642/https://www.ibm.com/us-en/"

try:
    data = requests.get(url, timeout=10).text
except requests.exceptions.Timeout:
    print(f"Timeout occurred while trying to access {url}. Please check your internet connection and try again.")
except requests.exceptions.RequestException as e:
    print(f"An error occurred: {e}")
else:
    soup = BeautifulSoup(data, "html.parser")

Timeout occurred while trying to access https://web.archive.org/web/20230224123642/https://www.ibm.com/us-en/. Please check your internet connection and try again.

In [ ]:
for link in soup.find_all('a',href=True):

    print(link.get('href'))

In [ ]:
for link in soup.find_all('img'):
    print(link)
    print(link.get('src'))

In [ ]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/HTMLColorCodes.html"
data  = requests.get(url).text

soup = BeautifulSoup(data, "html.parser")

table = soup.find('table')

if table:
    for row in table.find_all('tr'):
        cols = row.find_all('td')

        if len(cols) >= 4:
            color_name = cols[2].string
            color_code = cols[3].string
            print("{}--->{}".format(color_name,color_code))
else:
    print("No table found in the HTML data.")

Color Name--->None
lightsalmon--->#FFA07A
salmon--->#FA8072
darksalmon--->#E9967A
lightcoral--->#F08080
coral--->#FF7F50
tomato--->#FF6347
orangered--->#FF4500
gold--->#FFD700
orange--->#FFA500
darkorange--->#FF8C00
lightyellow--->#FFFFE0
lemonchiffon--->#FFFACD
papayawhip--->#FFEFD5
moccasin--->#FFE4B5
peachpuff--->#FFDAB9
palegoldenrod--->#EEE8AA
khaki--->#F0E68C
darkkhaki--->#BDB76B
yellow--->#FFFF00
lawngreen--->#7CFC00
chartreuse--->#7FFF00
limegreen--->#32CD32
lime--->#00FF00
forestgreen--->#228B22
green--->#008000
powderblue--->#B0E0E6
lightblue--->#ADD8E6
lightskyblue--->#87CEFA
skyblue--->#87CEEB
deepskyblue--->#00BFFF
lightsteelblue--->#B0C4DE
dodgerblue--->#1E90FF

In [ ]:
import pandas as pd
url1= "https://en.wikipedia.org/wiki/World_population"

In [ ]:
data  = requests.get(url1).text
tables = soup.find_all('table')
len(tables)

1

In [ ]:
table_index = -1
for index, table in enumerate(tables):
    if "10 most densely populated countries" in str(table):
        table_index = index
        break
print(table_index)

-1

In [ ]:
print(tables[table_index].prettify())

<table border="1" class="main-table">
 <tr>
  <td>
   Number
  </td>
  <td>
   Color
  </td>
  <td>
   Color Name
  </td>
  <td>
   Hex Code
   <br/>
   #RRGGBB
  </td>
  <td>
   Decimal Code
   <br/>
   (R,G,B)
  </td>
 </tr>
 <tr>
  <td>
   1
  </td>
  <td style="background:lightsalmon;">
  </td>
  <td>
   lightsalmon
  </td>
  <td>
   #FFA07A
  </td>
  <td>
   rgb(255,160,122)
  </td>
 </tr>
 <tr>
  <td>
   2
  </td>
  <td style="background:salmon;">
  </td>
  <td>
   salmon
  </td>
  <td>
   #FA8072
  </td>
  <td>
   rgb(250,128,114)
  </td>
 </tr>
 <tr>
  <td>
   3
  </td>
  <td style="background:darksalmon;">
  </td>
  <td>
   darksalmon
  </td>
  <td>
   #E9967A
  </td>
  <td>
   rgb(233,150,122)
  </td>
 </tr>
 <tr>
  <td>
   4
  </td>
  <td style="background:lightcoral;">
  </td>
  <td>
   lightcoral
  </td>
  <td>
   #F08080
  </td>
  <td>
   rgb(240,128,128)
  </td>
 </tr>
 <tr>
  <td>
   5
  </td>
  <td style="background:coral;">
  </td>
  <td>
   coral
  </td>
  <td>
   #FF7F50
  </td>
  <td>
   rgb(255,127,80)
  </td>
 </tr>
 <tr>
  <td>
   6
  </td>
  <td style="background:tomato;">
  </td>
  <td>
   tomato
  </td>
  <td>
   #FF6347
  </td>
  <td>
   rgb(255,99,71)
  </td>
 </tr>
 <tr>
  <td>
   7
  </td>
  <td style="background:orangered;">
  </td>
  <td>
   orangered
  </td>
  <td>
   #FF4500
  </td>
  <td>
   rgb(255,69,0)
  </td>
 </tr>
 <tr>
  <td>
   8
  </td>
  <td style="background:gold;">
  </td>
  <td>
   gold
  </td>
  <td>
   #FFD700
  </td>
  <td>
   rgb(255,215,0)
  </td>
 </tr>
 <tr>
  <td>
   9
  </td>
  <td style="background:orange;">
  </td>
  <td>
   orange
  </td>
  <td>
   #FFA500
  </td>
  <td>
   rgb(255,165,0)
  </td>
 </tr>
 <tr>
  <td>
   10
  </td>
  <td style="background:darkorange;">
  </td>
  <td>
   darkorange
  </td>
  <td>
   #FF8C00
  </td>
  <td>
   rgb(255,140,0)
  </td>
 </tr>
 <tr>
  <td>
   11
  </td>
  <td style="background:lightyellow;">
  </td>
  <td>
   lightyellow
  </td>
  <td>
   #FFFFE0
  </td>
  <td>
   rgb(255,255,224)
  </td>
 </tr>
 <tr>
  <td>
   12
  </td>
  <td style="background:lemonchiffon;">
  </td>
  <td>
   lemonchiffon
  </td>
  <td>
   #FFFACD
  </td>
  <td>
   rgb(255,250,205)
  </td>
 </tr>
 <tr>
  <td>
   13
  </td>
  <td style="background:papayawhip;">
  </td>
  <td>
   papayawhip
  </td>
  <td>
   #FFEFD5
  </td>
  <td>
   rgb(255,239,213)
  </td>
 </tr>
 <tr>
  <td>
   14
  </td>
  <td style="background:moccasin;">
  </td>
  <td>
   moccasin
  </td>
  <td>
   #FFE4B5
  </td>
  <td>
   rgb(255,228,181)
  </td>
 </tr>
 <tr>
  <td>
   15
  </td>
  <td style="background:peachpuff;">
  </td>
  <td>
   peachpuff
  </td>
  <td>
   #FFDAB9
  </td>
  <td>
   rgb(255,218,185)
  </td>
 </tr>
 <tr>
  <td>
   16
  </td>
  <td style="background:palegoldenrod;">
  </td>
  <td>
   palegoldenrod
  </td>
  <td>
   #EEE8AA
  </td>
  <td>
   rgb(238,232,170)
  </td>
 </tr>
 <tr>
  <td>
   17
  </td>
  <td style="background:khaki;">
  </td>
  <td>
   khaki
  </td>
  <td>
   #F0E68C
  </td>
  <td>
   rgb(240,230,140)
  </td>
 </tr>
 <tr>
  <td>
   18
  </td>
  <td style="background:darkkhaki;">
  </td>
  <td>
   darkkhaki
  </td>
  <td>
   #BDB76B
  </td>
  <td>
   rgb(189,183,107)
  </td>
 </tr>
 <tr>
  <td>
   19
  </td>
  <td style="background:yellow;">
  </td>
  <td>
   yellow
  </td>
  <td>
   #FFFF00
  </td>
  <td>
   rgb(255,255,0)
  </td>
 </tr>
 <tr>
  <td>
   20
  </td>
  <td style="background:lawngreen;">
  </td>
  <td>
   lawngreen
  </td>
  <td>
   #7CFC00
  </td>
  <td>
   rgb(124,252,0)
  </td>
 </tr>
 <tr>
  <td>
   21
  </td>
  <td style="background:chartreuse;">
  </td>
  <td>
   chartreuse
  </td>
  <td>
   #7FFF00
  </td>
  <td>
   rgb(127,255,0)
  </td>
 </tr>
 <tr>
  <td>
   22
  </td>
  <td style="background:limegreen;">
  </td>
  <td>
   limegreen
  </td>
  <td>
   #32CD32
  </td>
  <td>
   rgb(50,205,50)
  </td>
 </tr>
 <tr>
  <td>
   23
  </td>
  <td style="background:lime;">
  </td>
  <td>
   lime
  </td>
  <td>
   #00FF00
  </td>
  <td>
   rgb(0.255.0)
  </td>
 </tr>
 <tr>
  <td>
   24
  </td>
  <td style="background:forestgreen;">
  </td>
  <td>
   forestgreen
  </td>
  <td>
   #228B22
  </td>
  <td>
   rgb(34,139,34)
  </td>
 </tr>
 <tr>
  <td>
   25
  </td>
  <td style="background:green;">
  </td>
  <td>
   green
  </td>
  <td>
   #008000
  </td>
  <td>
   rgb(0,128,0)
  </td>
 </tr>
 <tr>
  <td>
   26
  </td>
  <td style="background:powderblue;">
  </td>
  <td>
   powderblue
  </td>
  <td>
   #B0E0E6
  </td>
  <td>
   rgb(176,224,230)
  </td>
 </tr>
 <tr>
  <td>
   27
  </td>
  <td style="background:lightblue;">
  </td>
  <td>
   lightblue
  </td>
  <td>
   #ADD8E6
  </td>
  <td>
   rgb(173,216,230)
  </td>
 </tr>
 <tr>
  <td>
   28
  </td>
  <td style="background:lightskyblue;">
  </td>
  <td>
   lightskyblue
  </td>
  <td>
   #87CEFA
  </td>
  <td>
   rgb(135,206,250)
  </td>
 </tr>
 <tr>
  <td>
   29
  </td>
  <td style="background:skyblue;">
  </td>
  <td>
   skyblue
  </td>
  <td>
   #87CEEB
  </td>
  <td>
   rgb(135,206,235)
  </td>
 </tr>
 <tr>
  <td>
   30
  </td>
  <td style="background:deepskyblue;">
  </td>
  <td>
   deepskyblue
  </td>
  <td>
   #00BFFF
  </td>
  <td>
   rgb(0,191,255)
  </td>
 </tr>
 <tr>
  <td>
   31
  </td>
  <td style="background:lightsteelblue;">
  </td>
  <td>
   lightsteelblue
  </td>
  <td>
   #B0C4DE
  </td>
  <td>
   rgb(176,196,222)
  </td>
 </tr>
 <tr>
  <td>
   32
  </td>
  <td style="background:dodgerblue;">
  </td>
  <td>
   dodgerblue
  </td>
  <td>
   #1E90FF
  </td>
  <td>
   rgb(30,144,255)
  </td>
 </tr>
</table>

In [ ]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

url1 = "https://en.wikipedia.org/wiki/World_population"
data  = requests.get(url1).text
soup = BeautifulSoup(data, "html.parser") # Create a BeautifulSoup object

tables = soup.find_all('table')
len(tables)

table_index = -1
for index, table in enumerate(tables):
    if ("10 most densely populated countries" in str(table)):
        table_index = index
        break
print(table_index)

# Check if table_index is still -1, indicating the table wasn't found
if table_index == -1:
    print("Table not found!") # Print an error message
else:
    print(tables[table_index].prettify())
    population_data = pd.DataFrame(columns=["Rank", "Country", "Population", "Area", "Density"])
    # Access the table body correctly, handling potential missing tbody
    table_body = tables[table_index].find("tbody")
    if table_body:
        for row in table_body.find_all("tr"):
            col = row.find_all("td")
            if (col != []):
                rank = col[0].text
                country = col[1].text
                population = col[2].text.strip()
                area = col[3].text.strip()
                density = col[4].text.strip()
                population_data = pd.concat([population_data, pd.DataFrame({"Rank":[rank], "Country":[country], "Population":[population], "Area":[area], "Density":[density]})], ignore_index=True)
    else:
        print("Table body not found!")

    print(population_data)

6
<table class="wikitable sortable" style="text-align:right">
 <caption>
  10 most densely populated countries
  <small>
   (with population above 5 million)
  </small>
  <sup class="reference" id="cite_ref-:10_103-0">
   <a href="#cite_note-:10-103">
    <span class="cite-bracket">
     [
    </span>
    98
    <span class="cite-bracket">
     ]
    </span>
   </a>
  </sup>
 </caption>
 <tbody>
  <tr>
   <th scope="col">
    Rank
   </th>
   <th scope="col">
    Country
   </th>
   <th scope="col">
    Population
   </th>
   <th scope="col">
    Area
    <br/>
    <small>
     (km
     <sup>
      2
     </sup>
     )
    </small>
   </th>
   <th scope="col">
    Density
    <br/>
    <small>
     (pop/km
     <sup>
      2
     </sup>
     )
    </small>
   </th>
  </tr>
  <tr>
   <td>
    1
   </td>
   <td align="left">
    <span class="flagicon">
     <span class="mw-image-border" typeof="mw:File">
      <span>
       <img alt="" class="mw-file-element" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Singapore.svg/23px-Flag_of_Singapore.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Singapore.svg/35px-Flag_of_Singapore.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Singapore.svg/45px-Flag_of_Singapore.svg.png 2x" width="23"/>
      </span>
     </span>
    </span>
    <a href="/wiki/Singapore" title="Singapore">
     Singapore
    </a>
   </td>
   <td>
    5,921,231
   </td>
   <td>
    719
   </td>
   <td>
    8,235
   </td>
  </tr>
  <tr>
   <td>
    2
   </td>
   <td align="left">
    <span class="flagicon">
     <span class="mw-image-border" typeof="mw:File">
      <span>
       <img alt="" class="mw-file-element" data-file-height="307" data-file-width="512" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Flag_of_Bangladesh.svg/23px-Flag_of_Bangladesh.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Flag_of_Bangladesh.svg/35px-Flag_of_Bangladesh.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Flag_of_Bangladesh.svg/46px-Flag_of_Bangladesh.svg.png 2x" width="23"/>
      </span>
     </span>
    </span>
    <a href="/wiki/Bangladesh" title="Bangladesh">
     Bangladesh
    </a>
   </td>
   <td>
    165,650,475
   </td>
   <td>
    148,460
   </td>
   <td>
    1,116
   </td>
  </tr>
  <tr>
   <td>
    3
   </td>
   <td align="left">
    <p>
     <span class="flagicon">
      <span class="mw-image-border" typeof="mw:File">
       <span>
        <img alt="" class="mw-file-element" data-file-height="600" data-file-width="1200" decoding="async" height="12" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/00/Flag_of_Palestine.svg/23px-Flag_of_Palestine.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/0/00/Flag_of_Palestine.svg/35px-Flag_of_Palestine.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/0/00/Flag_of_Palestine.svg/46px-Flag_of_Palestine.svg.png 2x" width="23"/>
       </span>
      </span>
     </span>
     <a href="/wiki/Palestine" title="Palestine">
      Palestine
     </a>
     <sup class="reference" id="cite_ref-104">
      <a href="#cite_note-104">
       <span class="cite-bracket">
        [
       </span>
       note 3
       <span class="cite-bracket">
        ]
       </span>
      </a>
     </sup>
     <sup class="reference" id="cite_ref-105">
      <a href="#cite_note-105">
       <span class="cite-bracket">
        [
       </span>
       99
       <span class="cite-bracket">
        ]
       </span>
      </a>
     </sup>
    </p>
   </td>
   <td>
    5,223,000
   </td>
   <td>
    6,025
   </td>
   <td>
    867
   </td>
  </tr>
  <tr>
   <td>
    4
   </td>
   <td align="left">
    <span class="flagicon">
     <span class="mw-image-border" typeof="mw:File">
      <span>
       <img alt="" class="mw-file-element" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/7/72/Flag_of_the_Republic_of_China.svg/23px-Flag_of_the_Republic_of_China.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/7/72/Flag_of_the_Republic_of_China.svg/35px-Flag_of_the_Republic_of_China.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/7/72/Flag_of_the_Republic_of_China.svg/45px-Flag_of_the_Republic_of_China.svg.png 2x" width="23"/>
      </span>
     </span>
    </span>
    <a href="/wiki/Taiwan" title="Taiwan">
     Taiwan
    </a>
    <sup class="reference" id="cite_ref-106">
     <a href="#cite_note-106">
      <span class="cite-bracket">
       [
      </span>
      note 4
      <span class="cite-bracket">
       ]
      </span>
     </a>
    </sup>
   </td>
   <td>
    23,580,712
   </td>
   <td>
    35,980
   </td>
   <td>
    655
   </td>
  </tr>
  <tr>
   <td>
    5
   </td>
   <td align="left">
    <span class="flagicon">
     <span class="mw-image-border" typeof="mw:File">
      <span>
       <img alt="" class="mw-file-element" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/23px-Flag_of_South_Korea.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/35px-Flag_of_South_Korea.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/45px-Flag_of_South_Korea.svg.png 2x" width="23"/>
      </span>
     </span>
    </span>
    <a href="/wiki/South_Korea" title="South Korea">
     South Korea
    </a>
   </td>
   <td>
    51,844,834
   </td>
   <td>
    99,720
   </td>
   <td>
    520
   </td>
  </tr>
  <tr>
   <td>
    6
   </td>
   <td align="left">
    <span class="flagicon">
     <span class="mw-image-border" typeof="mw:File">
      <span>
       <img alt="" class="mw-file-element" data-file-height="1920" data-file-width="2880" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/59/Flag_of_Lebanon.svg/23px-Flag_of_Lebanon.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/59/Flag_of_Lebanon.svg/35px-Flag_of_Lebanon.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/59/Flag_of_Lebanon.svg/45px-Flag_of_Lebanon.svg.png 2x" width="23"/>
      </span>
     </span>
    </span>
    <a href="/wiki/Lebanon" title="Lebanon">
     Lebanon
    </a>
   </td>
   <td>
    5,296,814
   </td>
   <td>
    10,400
   </td>
   <td>
    509
   </td>
  </tr>
  <tr>
   <td>
    7
   </td>
   <td align="left">
    <span class="flagicon">
     <span class="mw-image-border" typeof="mw:File">
      <span>
       <img alt="" class="mw-file-element" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/17/Flag_of_Rwanda.svg/23px-Flag_of_Rwanda.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/1/17/Flag_of_Rwanda.svg/35px-Flag_of_Rwanda.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/1/17/Flag_of_Rwanda.svg/45px-Flag_of_Rwanda.svg.png 2x" width="23"/>
      </span>
     </span>
    </span>
    <a href="/wiki/Rwanda" title="Rwanda">
     Rwanda
    </a>
   </td>
   <td>
    13,173,730
   </td>
   <td>
    26,338
   </td>
   <td>
    500
   </td>
  </tr>
  <tr>
   <td>
    8
   </td>
   <td align="left">
    <span class="flagicon">
     <span class="mw-image-border" typeof="mw:File">
      <span>
       <img alt="" class="mw-file-element" data-file-height="600" data-file-width="1000" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/50/Flag_of_Burundi.svg/23px-Flag_of_Burundi.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/50/Flag_of_Burundi.svg/35px-Flag_of_Burundi.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/50/Flag_of_Burundi.svg/46px-Flag_of_Burundi.svg.png 2x" width="23"/>
      </span>
     </span>
    </span>
    <a href="/wiki/Burundi" title="Burundi">
     Burundi
    </a>
   </td>
   <td>
    12,696,478
   </td>
   <td>
    27,830
   </td>
   <td>
    456
   </td>
  </tr>
  <tr>
   <td>
    9
   </td>
   <td align="left">
    <span class="flagicon">
     <span class="mw-image-border" typeof="mw:File">
      <span>
       <img alt="" class="mw-file-element" data-file-height="800" data-file-width="1100" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Flag_of_Israel.svg/21px-Flag_of_Israel.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Flag_of_Israel.svg/32px-Flag_of_Israel.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Flag_of_Israel.svg/41px-Flag_of_Israel.svg.png 2x" width="21"/>
      </span>
     </span>
    </span>
    <a href="/wiki/Israel" title="Israel">
     Israel
    </a>
   </td>
   <td>
    9,402,617
   </td>
   <td>
    21,937
   </td>
   <td>
    429
   </td>
  </tr>
  <tr>
   <td>
    10
   </td>
   <td align="left">
    <span class="flagicon">
     <span class="mw-image-border" typeof="mw:File">
      <span>
       <img alt="" class="mw-file-element" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/23px-Flag_of_India.svg.png" srcset="//upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/35px-Flag_of_India.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/45px-Flag_of_India.svg.png 2x" width="23"/>
      </span>
     </span>
    </span>
    <a href="/wiki/India" title="India">
     India
    </a>
   </td>
   <td>
    1,389,637,446
   </td>
   <td>
    3,287,263
   </td>
   <td>
    423
   </td>
  </tr>
 </tbody>
</table>

  Rank                       Country     Population       Area Density
0    1                     Singapore      5,921,231        719   8,235
1    2                    Bangladesh    165,650,475    148,460   1,116
2    3  \n Palestine[note 3][99]\n\n      5,223,000      6,025     867
3    4                Taiwan[note 4]     23,580,712     35,980     655
4    5                   South Korea     51,844,834     99,720     520
5    6                       Lebanon      5,296,814     10,400     509
6    7                        Rwanda     13,173,730     26,338     500
7    8                       Burundi     12,696,478     27,830     456
8    9                        Israel      9,402,617     21,937     429
9   10                         India  1,389,637,446  3,287,263     423

In [ ]:
from io import StringIO
tables = soup.find_all('table')
len(tables)

table_index = -1
for index, table in enumerate(tables):
    if ("10 most densely populated countries" in str(table)):
        table_index = index
        break

table_html = str(tables[table_index]) # Get the HTMLcontent of the table
table_io = StringIO(table_html)       # Wrap it in a StringIO object

population_data_read_html = pd.read_html(table_io, flavor='bs4')[0]

population_data_read_html

   Rank                Country  Population  Area (km2)  Density (pop/km2)
0     1              Singapore     5921231         719               8235
1     2             Bangladesh   165650475      148460               1116
2     3  Palestine[note 3][99]     5223000        6025                867
3     4         Taiwan[note 4]    23580712       35980                655
4     5            South Korea    51844834       99720                520
5     6                Lebanon     5296814       10400                509
6     7                 Rwanda    13173730       26338                500
7     8                Burundi    12696478       27830                456
8     9                 Israel     9402617       21937                429
9    10                  India  1389637446     3287263                423

In [ ]:
pd.read_html(url, match="10 most densely populated countries", flavor='bs4')[0]

ValueError: No tables found matching pattern '10 most densely populated countries'